.main-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: white;
}

.lesson-title {
  font-size: 20px;
  padding: 15px 30px;
  text-align: center;
}

.lesson-content {
  padding: 0 15px 15px 15px;
  line-height: 1.5;
}

.sections-name {
  list-style: none;
}

.lesson-section-title {
  margin-top: 25px;
}

.toc-image {
  max-width: 100%;
  max-height: 52px;
}
